@page "/fetchdata"
@using SharedModels = YourNote.Shared.Models
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>ID</th>
                <th>Owner</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notes in notes)
            {
                <tr>
                    <td>@notes.Date.ToShortDateString()</td>
                    <td>@notes.ID</td>
                    <td>@notes.Owner</td>
                    <td>@notes.Title</td>
                </tr>
            }
        </tbody>
    </table>
}





@code {
    
    SharedModels.Note[] notes;

    protected override async Task OnInitializedAsync()
    {
        notes = await Http.GetJsonAsync<SharedModels.Note[]>("Note");
    }

    /*WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecast[]>("WeatherForecast");
    }*/
}
