@page "/notes/"
@page "/notes/{UserId}"
@using SharedModels = YourNote.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider ApiAuthenticationStateProvider

<div class="wrapper">
    @if (notes == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var note in notes)
        {
            <Note NoteObj="@note" />
        }
    }
</div>

<NoteAdder UserId="@UserId"/>

@code {
    [Parameter]
    public string UserId { get; set; }

    SharedModels.Note[] notes;

    protected override async Task OnInitializedAsync()
    {
        var authService = await ApiAuthenticationStateProvider.GetAuthenticationStateAsync();
        UserId = UserId ?? ClaimsParser.Select(authService, "id");

        notes = await Http.GetJsonAsync<SharedModels.Note[]>($"api/notes/{UserId}");
    }
}