@page "/notes/"
@page "/notes/{UserId}"
@using SharedModels = YourNote.Shared.Models
@inject HttpClient Http
@inject AuthenticationStateProvider ApiAuthenticationStateProvider
@using YourNote.Shared.Models
@using System.Text.Json

<div class="wrapper">
    @if (notes == null)
    {
        <p><em>Wczytywanie...</em></p>
    }
    else
    {
        foreach (var note in notes)
        {
            <Note NoteObj="@note" UserId="@UserId" @bind-Notes="notes" />
        }
    }
</div>

<NoteAdder UserId="@UserId" @bind-Notes="notes" />

@code {
    [Parameter]
    public string UserId { get; set; }

    List<SharedModels.NotePost> notes;
    List<string> tags;
    List<string> lectures;

    protected override async Task OnInitializedAsync()
    {
        var authService = await ApiAuthenticationStateProvider.GetAuthenticationStateAsync();
        UserId = UserId ?? ClaimsParser.Select(authService, "nameid");

        notes = await Http.GetJsonAsync<List<SharedModels.NotePost>>($"api/notes/{UserId}");

        foreach (var note in notes)
        {
            if (note.Tags == null) note.Tags = new List<string>();
            if (note.Lectures == null) note.Lectures = new List<string>();
            
            Console.WriteLine(note.Tags.Count + " " + note.Lectures.Count);
        }
    }
}