@page "/notes/"
@page "/notes/{Username}"
@using SharedModels = YourNote.Shared.Models
@inject HttpClient Http



@if (notes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    foreach (var note in notes)
    {
        <Note Title="@note.Title"
              Color="@note.Color"
              Content="@note.Content" />
    }
}


@code {
    [Parameter]
    public string Username { get; set; }

    SharedModels.Note[] notes;

    protected override void OnInitialized()
    {
        // TODO:: set username to proper value when not initialized
        Username = Username ?? "username";
    }

    protected override async Task OnInitializedAsync()
    {
        notes = await Http.GetJsonAsync<SharedModels.Note[]>("api/Notes");
    }
}