@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}

html, body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr))
}

.note {
    cursor: pointer;
    max-height: 250px;
    overflow: hidden;
}

.note__title {
    overflow-wrap: break-word;
    word-break: break-word;
}

/* Overriding bootstrap values */
.modal-header .modal-title {
    width: 100%;
    display: flex;
}

.modal__header {
    display: flex;
    align-items: center;
}

.modal__title {
    outline: none;
}

.modal__content {
    outline: none;
}

.modal__inputs {
    padding: 6px 16px;
}

.svg-icon {
    cursor: pointer;
}

.adder {
    position: fixed;
    right: 10%;
    bottom: 10%;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}