@font-face {
    font-family: 'Open Sans';
    src: url(fonts/OpenSans-Regular.ttf);
}

html, body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.note {
    cursor: pointer;
}

.note__title {
    overflow-wrap: break-word;
    word-break: break-word;
}