<div style="background-color: @GetRgbFromEnum(Color)">
</div>

@code {
    [Parameter]
    public int Color { get; set; }

    Dictionary<int, string> colors = new Dictionary<int, string>()
{
        {1, "" },
        {2, "" },
        {3, "" },
        {4, "" },
        {5, "" },
        {6, "" },
        {7, "" },
        {8, "" },
    };

    private string GetRgbFromEnum(int color)
    {
        return colors[color];
    }
}