@inject HttpClient Http

@if (IsToggled)
{
    <div class="d-flex flex-row align-items-center">
        <img src="/img/file-document-box.svg" class="svg-icon" />
        <input list="lectures" value='@string.Join(" ", Lectures)' @onchange="((e) => OnChange(e))" placeholder="Nazwa kursu..." />
        <datalist id="lectures">
            @foreach (var lecture in DownloadedLectures)
            {
                <option value="@lecture" />
            }
        </datalist><br />
    </div>
}
else
{
    <img src="/img/file-document-box-plus.svg" class="svg-icon" @onclick="@OnAddClick" />
}

@code {
    [Parameter]
    public List<string> Lectures { get; set; }

    [Parameter]
    public EventCallback<List<string>> LecturesChanged { get; set; }

    [Parameter]
    public List<string> DownloadedLectures { get; set; }

    bool IsToggled { get; set; } = false;

    void OnAddClick()
    {
        IsToggled = true;
    }

    async Task OnChange(ChangeEventArgs e)
    {
        Lectures = e.Value.ToString().Split(' ').Where(tag => !String.IsNullOrWhiteSpace(tag)).ToList();
        await LecturesChanged.InvokeAsync(Lectures);
    }

    protected override void OnInitialized()
    {
        IsToggled = Lectures?.Count > 0;
    }
}