@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS

<NavMenu />

<div class="container">
    @Body
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BootstrapCSS.SetBootstrapCSS("Cyborg", "latest");
    }
}