<BSNavbar IsExpand="true" IsDark="true" Class="mb-3">
    <BSNavbarBrand>
        <a href="/" style="text-decoration: none;">
            Your Note
        </a>
    </BSNavbarBrand>
    <BSNavbarToggler @onclick="onclick" />
    <BSCollapse isOpen="@IsOpen" IsNavbar="true" IsOpenChanged="OpenChanged">
        <BSNav IsList="true" Class="ml-auto" IsNavbar="true">
            <LoginDisplay />
        </BSNav>
    </BSCollapse>
</BSNavbar>

@code {
    bool IsOpen { get; set; } = false;

    void onclick(MouseEventArgs e)
    {
        IsOpen = !IsOpen;
        StateHasChanged();
    }

    void OpenChanged(bool e)
    {
        IsOpen = e;
        StateHasChanged();
    }
}