<BSCard Class="note" Color="@GetColorAsEnum()" @onclick=@(() => ModalRef.Show())>
    <BSCard CardType="CardType.Header">
        <span class="note__title">
            @Title
        </span>
    </BSCard>
    <BSCard CardType="CardType.Body">
        <BSCard CardType="CardType.Text">
            @ChildContent
        </BSCard>
    </BSCard>
</BSCard>


<BSModal @ref="ModalRef" IsCentered="true" IgnoreClickOnBackdrop="true" IgnoreEscape="true">
    <BSModalHeader OnClick="@(() => ModalRef.Hide())">
        @Title
    </BSModalHeader>
    <BSModalBody>
        @ChildContent
    </BSModalBody>
    <BSModalFooter>
        <BSButton Color="BlazorStrap.Color.Primary">Submit</BSButton>
        <BSButton Color="BlazorStrap.Color.Secondary" OnClick="@(() => ModalRef.Hide())">Cancel</BSButton>
    </BSModalFooter>
</BSModal>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public int Color { get; set; } = 3;

    BSModal ModalRef;

    private BlazorStrap.Color GetColorAsEnum()
    {
        return (BlazorStrap.Color)Color;
    }
}