@inject HttpClient Http

@if (IsToggled)
{
    <div class="d-flex flex-row align-items-center">
        <img src="/img/tag.svg" class="svg-icon" />
        <input list="tags" value='@string.Join(" ", Tags)' @onchange="((e) => OnChange(e))" placeholder="Nazwa tagu..." />
        <datalist id="tags">
            @foreach (var tag in DownloadedTags)
            {
                <option value="@tag" />
            }
        </datalist><br />
    </div>
}
else
{
    <img src="/img/tag-plus.svg" class="svg-icon" @onclick="@OnAddClick" />
}

@code {
    [Parameter]
    public List<string> Tags { get; set; }

    [Parameter]
    public EventCallback<List<string>> TagsChanged { get; set; }

    [Parameter]
    public List<string> DownloadedTags { get; set; }

    bool IsToggled { get; set; } = false;

    void OnAddClick()
    {
        IsToggled = true;
    }

    async Task OnChange(ChangeEventArgs e)
    {
        Tags = e.Value.ToString().Split(' ').ToList();
        await TagsChanged.InvokeAsync(Tags);
    }

    protected override void OnInitialized()
    {
        IsToggled = Tags?.Count > 0;
    }
}